* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game {
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

.canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #141618;
}

.row {
  display: flex;
}

.cell {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #283038;
  background: transparent;
  cursor: pointer;
  font-size: 9px !important;
  border-radius: 3px;
}

.cell:hover {
  filter: brightness(2.5);
}

.cell--alive {
  background: #007bff;
}

.cell--alive:hover {
  filter: brightness(1.2);
}
