* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game {
  width: 100%;
  height: 100vh;
  min-height: 600px;
}

.canvas {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: rgb(24, 24, 24);
  color: #fff;
  cursor: pointer;
  font-size: 9px !important	;
}

.cell:hover {
  filter: brightness(2.5);
}

.cell--alive {
  background: rgb(34, 170, 95);
}

.cell--alive:hover {
  filter: brightness(1.2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #222;
}

.size-input {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #ededed;
  margin-top: 10px;
}
